@media (min-width: 1200px) {
   .container {
    max-width: 1000px;
    } 
}

h1 {
    text-shadow: 2px 1px #868e96;
}

h5 {
    padding-top: 13px;
    font-size: 16px;
}

label {
    font-size: 24px;
    font-weight: bold;
}
#heading {
    text-align: center;
    padding-top: 12px;
}
#headingDiv {
    padding-bottom: 17px;
}

.create-form,
#bu {
    text-align: center;
}

body {
    background: #f0ad4e;
}

img {
    width: 223px;
    height: 182px;
}

#image-col {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

#headingRow {
    margin-top: 37px;
}